/* The base of every button */

.button {
    display: inline-block;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    padding: .8rem 1rem;
    border: 1px solid #000000;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: background-color .5s ease-in-out;
}


/*
.button-prev:hover {
    background-color: rgb(0, 0, 0);
    border-color: #fff;
    color: #fff;
}

.button-next {
    background-color: #fff;
    border-color: rgb(0, 0, 0);
}

.button-next:hover {
    background: rgb(0, 0, 0);
    border: #fff4;
}
*/


/*
.btn-success {
    background: #5cb85c;
    border: #4cae4c;
}

.btn-success:hover {
    background: #449d44;
    border: #398439;
}

.btn-info {
    background: #5bc0de;
    border: #46b8da;
}

.btn-info:hover {
    background: #31b0d5;
    border: #269abc;
}

.btn-warning {
    background: #f0ad4e;
    border: #eea236;
}

.btn-warning:hover {
    background: #ec971f;
    border: #d58512;
}

.btn-danger {
    background: #d9534f;
    border: #d43f3a;
}

.btn-danger:hover {
    background: #c9302c;
    border: #ac2925;
}
*/