h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
}

#canvas {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    box-shadow: dimgray 15px 15px 10px;
}

#red-rectangle {
    float: right;
    width: 75%;
    height: 75%;
    background-color: rgba(255, 0, 0, .8);
}

#first-grey {
    position: relative;
    float: left;
    width: 22%;
    height: 32%;
    background-color: lightgrey;
}

#black-row-upper {
    position: relative;
    float: left;
    width: 4%;
    height: 5%;
    background-color: black;
}

#second-grey {
    position: relative;
    float: left;
    width: 22%;
    height: 38%;
    background-color: lightgrey;
}

#black-row-bottom {
    position: relative;
    float: left;
    width: 100%;
    height: 3%;
    background-color: black;
}

#blue-rectangle {
    position: relative;
    float: left;
    width: 22%;
    height: 22%;
    background-color: rgba(44, 119, 216, 0.8);
}

#black-col-bottom-left {
    position: relative;
    float: left;
    width: 3%;
    height: 22%;
    background-color: black;
}

#small-grey-rectangle {
    position: relative;
    float: right;
    width: 10%;
    height: 9%;
    background-color: lightgray;
}

#yellow-rectangle {
    position: relative;
    float: right;
    width: 10%;
    height: 10%;
    background-color: rgba(238, 225, 121, 0.86);
}

#black-row-right-bottom {
    position: relative;
    float: right;
    width: 10%;
    height: 3%;
}

#bottom-grey {
    position: relative;
    float: left;
    width: 62%;
    height: 22%;
    background-color: lightgray;
}